h1{
    font-family: "Georgia", 'Times New Roman', Times, serif;
    
}

#name{
    float: left;
    margin-left:15%;
    background-color: #4aaaa5;
    padding: 22px 10px;
    margin-top: 0px;
    color: #fff;
    font-size: 32px;
}

#namelink{
    text-decoration: none;
    display: block;
    color: #fff;
}

#namelink:hover{
    color: #ccc;
}

header{
    background-color: #ffffff;
    border-bottom: 2px solid #ccc;
    padding-bottom: 25px;
    height: 55px;
}

body{
    font-family: "Arial", 'Helvetica neue', sans-serif;
    background-image: url("../images/pink_rice.png");
}

/*ul*/
#navbar{
    list-style-type: none;
    overflow: hidden;
    padding-top: 27px;
    padding-right: 15%; 
}


li, .navitem{
    width: 60px;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0 10px 0 10px;
    color: grey;
    
}

li{
    float: right;
    position: relative;
}

li, .navitem:hover{
    color: #ccc;

}

.main-bio{
    margin-top: 50px; 
    margin-bottom: 80px;
    width: 960px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
}

.main-contact{
    float: left;
    margin-top: 50px; 
    margin-bottom: 80px;
    width: 960px;
    height: 400px;
    margin-left: 200px;
    margin-right: auto;
    padding-top: 20px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
}

.main-port{
    margin-top: 50px; 
    margin-bottom: 80px;
    width: 1150px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
}

#about-head, #port-head{
    height: 50px;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 20px;
    color: #4aaaa5;
    font-size: 32px;
    border-bottom: 2px solid #dddddd;
}

#bio-image{
    float: left;
    padding: 15px 25px 10px 25px;
}

p{
    font-size: 18px;
    padding-top: 20px;
    line-height: 1.5;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}

#contact-form{
    margin: 0 15px;
    padding: 15px;
    color: grey;
}

.form, textarea{
    width:100%;
}

fieldset{
    padding: 0 4px 4px;
    line-height: 1.5;
    color: grey;
}

textarea{
    width: 100%;
    height: 100px;
}
 
.sumbit{
    background-color: #4aaaa5; 
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.imgtext{
    position: absolute;
    margin: -30px 0 0 3px;
    padding: 5px;
    background-color: #4aaaa5;
    color: #fff;
    float: inherit;
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc; 
    width: 149px;
    text-align: justify;
}

.imgtext:hover{ 
    color: #ccc;
}

#hangman{
    margin: 30px;
    float: left;
    margin-left: 50px;
}

#rpg{
    margin: 30px;
    float: left;
    margin-top: 150px;
}

#trivia{ 
    margin: 30px;
    float: left;
}

#widget{
    margin: 30px;
    float: left;
    margin-top: 150px;
}

#rps{
    margin: 30px;
    float: left;
}

#linkhead{
    color: #4aaaa5;
    padding: 8px 4px 4px;
    border-bottom: 2px solid #dddddd;
    margin-left: 5px;
    margin-right: 5px;
}

.link-img{
    height: 50px;
    width: 50px;
    padding: 9px;
    padding-top: 18px;
}

#sidebar{
    float: right;
    height: 140px;
    width: 220px;
    background-color: #fff;
    margin-top: 50px;
    margin-right: 55px;
    border: 2px solid #dddddd;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    background-color: #ccc;
    font-size: 15px;
    text-align: center;
    height: 8%;
    border-top: 2px solid #4aaaa5;
    padding: 7px 0px;
}

h6{
    padding: 40px 70px;
}